[Unit]
Description=NodeJS Course App Simple
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/nodeapps/2025/project2/t8
ExecStart=npm run start
Restart=on-failure

[Install]
WantedBy=multi-user.target

